<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>キャラクター作成</title>
<link rel="stylesheet" href="RPGApp.css">
</head>
<body>
	<div>キャラクター作成</div>
	<form method="POST" action="/session" th:object="${CharacterParameter}">
		<p>
			職業<br> <input type="radio" name="job" value="戦士"> 戦士
			<input type="radio" name="job" value="魔法使い"> 魔法使い
		</p>
		<p>
			名前：<br> <input type="text" name="name">
		</p>
		<p>
			<input type="submit" value="次へ">
		</p>

	</form>
</body>
</html>